@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(rgb(254, 244, 202), #490000);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 70rem;
  margin: auto;
}

#countries {
  padding: 3rem;
  border-radius: 6px;
  background-color: #490000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #f7e6e6;
}

#countries ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#countries li {
  width: 10rem;
  text-align: center;
}

#countries li img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

#countries li p {
  font-size: 1rem;
}
