body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background-color: #ff9209;
  text-align: center;
}

.btn {
  font: inherit;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: #2b3499;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#alert {
  margin: 3rem auto;
  padding: 1rem;
  width: 15rem;
  border: 2px solid #ffd099;
  border-radius: 10px;
  background-color: #ff6c22;
  color: white;
}

#alert button {
  font: inherit;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: #2b3499;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
